<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher_section.teacher %>
</p>

<p>
  <strong>Section:</strong>
  <%= @teacher_section.section %>
</p>

<%= link_to 'Edit', edit_teacher_section_path(@teacher_section) %> |
<%= link_to 'Back', teacher_sections_path %>
