<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Departments</title>
  </head>

  <body>

    <%= render "/header"%>
   <h1><%=@sorted_by_id%></h1>
   <h1><%=@sorted_by_name%></h1>


    <%= form_tag( departments_path, :method=> :get, :remote => true ) %>
    <%= text_field_tag :search_name, nil, placeholder: 'Search department by name' %>
    <%= number_field_tag :search_hod_id, nil, placeholder: 'Search department by HOD ID' %>
    <%= submit_tag 'Search'%>
  
    <div id="dep_table_div">
      <%=render 'departments_table'%>
    </div>
    <%= render "/footer"%>
  </body>
</html>