<%if params[:search_name].present? && !params[:search_hod_name].present?%>
<% @departments = Department.all.where("name ILIKE '#{params[:search_name]}%'").paginate(:page => params[:page], :per_page => 10).order(:id)%>
<%end%>

<%if params[:search_hod_name].present? && !params[:search_name].present?%>
<% @departments = Department.all.where("hod_id = '#{params[:search_hod_name]}'").paginate(:page => params[:page], :per_page => 10).order(:id)%>
<%end%>

<%if params[:search_name].present? && params[:search_hod_name].present?%>
<% @departments = Department.all.where("name ILIKE '#{params[:search_name]}%' AND hod_id = '#{params[:search_hod_name]}'").paginate(:page => params[:page], :per_page => 10).order(:id)%>
<%end%>

<%if params[:search_name]=='' && !params[:search_hod_name]==''%>
<% @departments = Department.all.paginate(:page => params[:page], :per_page => 10).order(:id)%>
<%end%>

var new_table = "<table><th>ID</th> <th>Name</th> <th>HOD</th> <th>HOD ID</th>"

$("#dep_table").empty()
$("#search_results_div").html("Search results")

<% @departments.each do |d| %>


    new_table += "<tr>  <td><%=d.id-%></td> <td><%=d.name-%></td> <td><%=d.hod.name-%></td> <td><%=d.hod_id-%></td>  </tr></table> "

    <%end%>

    <%= will_paginate @departments%>

    console.log(new_table)

  $("#dep_table").html(new_table)

 





