<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add new department</title>
  </head>
  <body>
<h1>Add New Department</h1>

<%= form_for @department do |form|%>



<p>
  <%= form.label :id %>
  <%= form.text_field :id%>
</<p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name%>
  </<p>
    <p>
      <%= form.label :teachers_id %>
      <%= form.text_field :teachers_id%>
    </<p>
<br/>
      <%=form.submit%>
<% end %>
  </body>
</html>
