<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @section.department %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @section.teacher %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
