<%= render  "/header" %>

<h1>Admin Signup</h1>

<h2><a href="/admin/login">Admin Login</a></h2>

<%if @admin==nil%>
<div id="error_explanation">
        <h2>
         Invalid login credentials
        </h2>
</div>
<%end%>

<%@admin = Admin.new%>

<%= form_for @admin, :url => { :action => "create" } do |f| %>
    
  <%= f.label :admin_username, 'Email' %>
  <%= f.text_field :admin_username%><br/>

  <%= f.label :password, 'Password'%>
  <%= f.password_field :password%><br/>

 

  <%= f.submit "Signup" %>

<%end%>

<%= render  "/footer" %>