<html>
<head>
<title>Signup</title>
</head>

<body>
<%= render  "/header" %>
<h1>User Signup</h1>

<%if @uli%>
<h2>You are already logged in. <a href="/logout">Logout</a> to signup again as different user</h2>
<%else%>



<h2>Already signed up?<h2>
<h2><a href="/login">Login</a></h2>
<% if @user.errors.any?%>

      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %>
          prohibited your user account from being saved:
        </h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
<%end%>


<%= form_for @user, :url => { :action => "create" }, :multipart => true do |f| %>
  
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %><br/>
  
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email%><br/>

  <%= f.label :password, 'Password'%>
  <%= f.password_field :password%><br/>

  <%# do confirm password%>

  <%=f.label :phone, 'Phone number'%>
  <%= f.number_field :phone%><br/>

  <%=f.label :address, 'Street Address'%>
  <%=f.text_area :address%><br/>

  <%= f.select :city, options_for_select(['CITY 1', 'CITY 2']), { prompt: 'Select city' } %>
  <br/>
  <%= f.select :state, options_for_select(['state 1', ['state 2']]), { prompt: 'Select state' } %>
  <br/>
  <%= f.select :country, options_for_select(['c1']), { prompt: 'Select country' } %>
  <br/>
  
  <%=f.label :date_of_birth, 'Date of Birth'%>
  <%=f.date_field :date_of_birth%><br/>

  <%= f.label :gender, 'Gender'%>
  <%= f.radio_button :gender, 'm', :checked => true %><%= f.label :gender, 'Male' %><%= f.radio_button :gender, 'f' %><%= f.label :gender, 'Female' %><br/>


 
  
  <% #tos checkbox %>
  <%= f.check_box :accepted_tos%> <%= f.label :accepted_tos, 'Do you accept the TOS?'%><br/>
  <%= label(:user, :image, 'Upload profile Pic')%>
  <%= file_field(:user, :image ,accept: 'image/png,image/jpeg,image/jpg')%><br/><br/>

  <%= f.submit "Signup" %>
  
  
<% end %>

<%end%>

<%= render  "/footer" %>
<body>
</html>